* {
    margin: 0;
    padding: 0;
  }

.searchBar-container {
    display: flex;
    justify-content: center;
    font-size: 25px;
    flex-direction: column;
  }
  
  .searchBar-section {
    background-color: #5AB3F7;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
  }
  
  .searchBar-section input {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #4890c7;
    font-size: 18px;
    padding-left: 10px;
  }
  
  .searchBar-section button {
    width: 200px;
    height: 60px;
    margin: 20px;
    border-radius: 10px;
    font-size: 18px;
    padding-left: 10px;
    background-color: #2696db;
    border: none;
    color: white;
  }
  
  .searchBar-section button:hover {
    cursor: pointer;
  }
  
  .displaySection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  
