@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background: #EFEFBB;
	background: linear-gradient(to bottom, #D4D3DD, #8045E3);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Lato';
	margin: 0;
}
